<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Launch your own Web App</h1>
    <h2>Fast-paced Technical Skills Courses</h2>
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
  </div>
</div>

<br />
<div class="col-10 offset-1 features text-center d-md-flex">
  <div class="col-sm-4">
    <h3>Video Instruction</h3>
    <br />
    <p>Stay engaged with carefully curated videos that are fun and exciting.</p>
  </div>

  <div class="col-sm-4">
    <h3>Up-to-Date Technologies</h3>
    <br />
    <p>Learn the latest frameworks and tools that real companies use to launch products quickly.</p>
  </div>

  <div class="col-sm-4">
    <h3>Handy Resources</h3>
    <br />
    <p>Access a large collection code snippets, cheat sheets, and useful links.</p>
  </div>
</div>
