<br />

<div class="booyah-box" >
  <h1 class="text-center">Learn something today</h1>
  <hr />

  <% @courses.each do |course| %>
    <h2 class="text-center"><%= course.title %></h2>
    <%= image_tag course.image, class: 'img-fluid' %>
    <br />
    <div class="col-sm-10 col-12">
      <%= course.description %>
    </div>
    <div class="col-sm-4 col-12 text-center">
      <%= link_to 'More details...', course_path(course), class: 'btn btn-primary btn-large' %>
    </div>
    <br class="clr" />
  <% end %>
</div>
